__pycache__/
/00_scrapers/credentials.py
/00_scrapers/chromedriver
/00_scrapers/bfscraped/
/01_extract/CourtCases/
/01_extract/all_cases.csv
/02_cleaning/all_cases.csv
/02_cleaning/clean_all_cases.csv
/04_geocoding/geocode/
/04_geocoding/geocoderesult/
/04_geocoding/*.csv
/06_demographics/*.csv
